{% extends "L3EConsolidadosBundle::layout.html.twig" %}
{% block title %}Consolidados{% endblock %}
{% block body %}
    <h2>Lista de cursos para</h2>
    <ul>
    {% for curso in cursos %}
        <li>
            <a href="{{ path('listar_asignaturas') }}?paquete={{ curso.caliidn }}">Paquete: {{ curso.caliidn }}</a> - Curso: {{ curso.curso_cursdescripv }} - Fecha: {{ curso.califechad }}
        </li>
    {% endfor %}
    </ul>
{% endblock %}